* {
    background-color: #ddb892;
}

button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 110px;
    background-color: #9c6644;
    color: #ede0d4;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.75em;
    border-radius: 0.3em;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    margin-left: 45%;
}

button:hover {
    background-color: #7f5539;
    color: #e6ccb2;
}

button:active {
    color: #ddb892;
    background-color: #b08968;
    transform: scale(0.9);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}